
.header {
    text-align: center;
    background-color: lightgreen;
    padding: 20px;
    font-family: fantasy;
}
.watchlist{
    margin-left: 0;
}
h1 {
    color: green
}

footer {
    position: sticky;
    bottom: 0;
    padding: 20px;
}


.card {
height: 300px;
border: 2px solid gray;
background:white;
padding:20px;
margin: 10px;
margin-right: 0;
width: 100%;

}
#companyName {
    text-align:center;
}
h3 {
    text-align:center;

}
#news {
    height: 300px;
    border: 2px solid gray;
    background:white;
    padding:20px;
    margin: 10px;
    margin-right: 0;
    width: 100%;

}




