

.header {
    text-align: center;
    background-color: rgb(10, 10, 106);
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.btn{
    background-color: rgb(84, 10, 154);
    border: rgb(85, 10, 155) solid;
}
#watchlist {
    padding: 20px;
    height: 400px;
    margin-bottom: 10px;
    margin-top: 5px;
}

h1 {
    color: white;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 20px;
}

#topHalf {
    margin-bottom: 5px;
}

.userCard {
padding: 10px;
margin-bottom: 100px;
margin-top: 5px;
box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
background: white;
border-radius: 5px;
}

#companyName {
    text-align:center;
}
h3 {
    text-align:center;
    padding: 15px

}

body {
    background-image: url(Assets/background2.jpeg);
    background-size:cover;
    }


a {
    color:black;
    text-decoration: none;
}


li {
    list-style-type: none;
    background: lightgray;
    border: 1px solid gray;

}
li button {
    width: 100%;
}


h5 {
    color: black;
}


#porfolio {
    height: 400px;
}


.newsCardFormat{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;

}

.newsCardFormat:hover{
    opacity: 0.75;
    transform: scale(1.01);
}

[class *="newsCardFormat"]{
    text-align: left;
}



.testSearchDiv{
    margin-bottom: 500px;
}